python-telegram-bot==11.1.0
tabulate==0.8.3
future==0.16.0
click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2>=2.10.1
MarkupSafe==1.0
Werkzeug>=0.15.3
requests>=2.20.0
dateparser==0.7.2
pymongo>=3.9.0
dnspython>=1.16.0